body {
	background-color: #E6E7DE;
}

.jumbotrom {
	background-color: #343a40;
	text-align: center;
}

.mi-breadcrumb {
	background-color: #dedfe0;
	width: 100%;
}

.title {
	color: white;
}

.card-torta {
	flex: 1 200px;
	margin-top: 10px;

}
.contenedor {
	text-align: center;
	color: #343a40;
}

.contenedor-torta {
	flex: 1 150px;
	text-align: center;
	color: #434340;
	margin-top: 10px;
	padding: 2px 3px 2px 3px;
}

.mi-boton {
	background-color: #343a40;
	width: 100%;
}

footer {
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 2px 3px 2px 130px;

}

.tab-content{
	padding-top: 10px;
}